[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
supplier = {editable = true, path = "."}
pytest = "*"
black = "*"
flake8 = "*"
twine = "*"
contextvars = "*"
importlib-metadata = "*"

[pipenv]
allow_prereleases = true
